<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolLabelLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolLabelLib.Properties.Settings>
            <setting name="DefaultWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DefaultHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TransparencyValue" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="LayerEditStyle" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultBackgroundColor" serializeAs="String">
                <value>#D3D3D3</value>
            </setting>
            <setting name="SegmentImageWidth" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="SegmentImageHeight" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="ResizeSegmentImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StdColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>#FCFF8A</string>
                        <string>#7FD47F</string>
                        <string>#ECA360</string>
                        <string>#6AD0FF</string>
                        <string>#4A4A4A</string>
                        <string>#0080FF</string>
                        <string>#D6101A</string>
                        <string>#F8F8F8</string>
                        <string>#00AA00</string>
                        <string>#A6A6A6</string>
                        <string>#E17100</string>
                        <string>#FF598F</string>
                        <string>#1C1C1C</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RecentColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </SolLabelLib.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
